<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="/css/nav.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    #submit{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #A5394E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    transition: all 0.3s;
    padding: 7px 16px;
}
#submit:hover {
    background: #A5647F;
}
</style>
<body>
    <!-- header -->
    <%- include('nav') %>
    <form action="/blog/create" method="post" id="blogForm" class="mt-[10px]" >
        <center>
            <input type="text" name="title" class="border p-[5px]"  placeholder="title" id="title" ><br><br>

            <input type="text" name="content" class="border p-[5px]"  placeholder="content" id="content" ><br><br>

            <input type="text" name="image" class="border p-[5px]"  placeholder="image" id="image" ><br><br>

            <input type="text" name="category" class="border p-[5px]"  placeholder="category" id="category" ><br><br>

            <input type="submit" value="Upload Blog" id="submit">
        </center>
    </form>
</body>
</html>