<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div id="blog">
        <img id="img" src=<%= blog.image %> alt="" >
        <h3 id="title"><%- blog.title %></h3>
        <span id="category"><%- blog.category %></span>
        <p id="content"><%- blog.content %></p>
        <button id="like">Like</button>
        <span id="count"></span>
        <form action="" id="comment">
            <input type="text" name="" id="" placeholder="comment">
        </form>
    </div>
</body>
</html>