*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#blog{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F5F5F5;
}

#blog div{
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

#img{
    border-radius: 10px;
    width: 400px;
}
